@using Booktex.Domain.Book.Model


<table class="story-character-line">
    <tbody>
        @if (!IsRight)
        {
            @foreach (var (linPart, lpIndx) in Line.LineParts.Select((_, indx) => (_, indx)))
            {
                <tr class="left-side">
                    <td class="story-character-line-name-td">
                        @if (lpIndx == 0)
                        {
                            <div class="story-character-line-part-name-text">@(Line.Character.CharacterName)</div>
                            @if (InteractionClass != null)
                            {
                                <div class="@InteractionClass"></div>
                            }
                        }
                    </td>
                    <td class="story-character-line-text-td">
                        <div class="story-character-line-part-text-container">
                            <div class="story-character-line-part-text">@TextFor(linPart)</div>
                            @if (linPart.Description != null)
                            {
                                <div class="story-character-line-part-description">[@(linPart.Description)]</div>
                            }
                        </div>
                    </td>
                    <td class="story-character-line-name-td"></td>
                </tr>
            }
        }
        else
        {
            @foreach (var (linPart, lpIndx) in Line.LineParts.Select((_, indx) => (_, indx)))
            {

                <tr class="right-side">
                    <td class="story-character-line-name-td"></td>
                    <td class="story-character-line-text-td">
                        <div class="story-character-line-part-text-container">
                            <div class="story-character-line-part-text">@TextFor(linPart)</div>
                            @if (linPart.Description != null)
                            {
                                <div class="story-character-line-part-description">[@(linPart.Description)]</div>
                            }
                        </div>
                    </td>
                    <td class="story-character-line-name-td">
                        @if (lpIndx == 0)
                        {
                            <div class="story-character-line-part-name-text">@(Line.Character.CharacterName)</div>
                            @if (InteractionClass != null)
                            {
                                <div class="@InteractionClass"></div>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
